body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Max width for email compatibility */
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

iframe {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center the buttons horizontally */
    width: 100%;
}

.buttons button {
    background-color: #284E80;
    color: #FAFAFA;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0; /* Adjust the margin to control spacing between buttons */
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .buttons {
        flex-direction: column;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }
}
